.entry_paper {
  width: 70%;
  background-color: #ff7884;
  border-radius: 10px;
  opacity: 0.9;
}

.text_input_area {
  width: 70%;
  min-height: 50%;
}

.input_form_div {
  padding-bottom: 2%;
}

.submit_button_div {
  margin-top: 2%;
}
